body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;


}


.header{
    display: flex;
    
    align-items: center;
    gap: 40px;
    
}

.header-bg, .section-one-bg{
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    flex: 1;
    justify-content: center;
    
}


ul{
    list-style-type: none;
    margin-right: auto;
    padding: 0;
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #e5e7eb;
    flex: 1;
    justify-content: right;
}

.subtitle{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subdescription{
    font-size: 18px;
    color: #e5e7eb;
}

.primary-button{
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 5px;
    width: 100px;
    border-color: #3882F6;
    font-weight: bold;
}

.section-one{
    display: flex;
    gap: 100px;
}

.section-one-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.section-one-right{
    display: flex;
    flex: 1;
    background-color: #a2a7b1;
    text-align: center;
    
}

.image-placeholder{
    flex: 1;
    align-self: center;
    color: white;
}

.section-two-bg{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-two-subtitle{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}

.card-holder{
    display: flex;
    gap: 25px;
}

.card-imageholder{
    width: 125px;
    height: 125px;
    margin: auto;
    flex: 1;
    border-width: 10px;
    border-radius: 10px;
    border:solid #3882F6;
    margin-bottom: 10px;

}

.card-text{
    text-align: center;
}